@import url('normalize.css');
@import url('variables.css');
@import url('typography.css');
@import url('rotating-clock.css');
@import url('nav.css');

body {
  background: var(--background-color)
}

.styled-list {
  list-style: circle;
  padding-left: 1em;
}

.container {
  margin: 1em auto;
  width: min(90vw, 50rem);
}

@media screen and (min-width: 1500px) {
  .container {
    margin: 1em auto;
    width: min(90vw, 60rem);
  }
  
}

.no-overflow {
  overflow: hidden;
}

