* {
    font-size: var(--paragraph-size);
    color: var(--text-color);
    font-family: var(--paragraph-font);
    font-weight: var(--paragraph-font-weight);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p{
    margin-bottom: 1.66em;
    line-height: var(--paragraph-line-height);
}

li {
    line-height: var(--paragraph-line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--header-font-weight);
    line-height: var(--header-line-height);
    margin-bottom: .66em
}

h1 {
    font-size: var(--header1-size);
}

h2 {
    font-size: var(--header2-size);
}

h3 {
    font-size: var(--header3-size);
}

ul {
    margin-bottom: 2em;
}

@media screen and (max-width: 768px) {
    * {
        font-size: 1rem;
    }
    
}