:root {
    --white: #fff;
    --black: #000;

    --text-color: var(--white);
    --background-color: var(--black);
    
    --paragraph-font: serif;
    --paragraph-line-height: 1.5em;
    --paragraph-font-weight: 400;
    --paragraph-size: clamp(1.1rem, .75vw, 1.5rem);

    --header1-size: clamp(2em, 2vw, 4rem);
    --header2-size: clamp(1.3rem, 0.95vw, 3rem);
    --header3-size: clamp(1.2rem, 0.93vw, 2.3rem);
    --header-line-height: 1.2em;
    --header-font-weight: 700;
}